body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* header h1 {
    margin: 0;
} */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

p {
    margin-top: 0;
}

.photo-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery img {
    width: 30%;
    margin-bottom: 1rem;
}

.review {
    margin-bottom: 2rem;
}

blockquote {
    font-style: italic;
    margin: 0;
}

cite {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
